<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="true"
         verbose="true"
>
    <testsuites>
      <testsuite name="tests for discounts">
        <directory>tests</directory>
      </testsuite>
    </testsuites>
</phpunit>